<!doctype html>
<html lang="en">

<head>
    <title>Tutor &mdash; Free Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/htmlCss')%>

</head>

<body>


    <div class="site-wrap" id="home-section">

        <%- include('partials/htmlHeader',{error:false, active:'tutorials'} )%>


        <div class="site-section-cover overlay" style="background-image: url('../images/hero_bg.jpg');">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-10 text-center">
                        <h1><strong><%= course.title %> </strong></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading mb-4">
                            <span class="caption"><%= course.title %> Course</span>
                            <h2>Move TO ==></h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-stretch">
                    <div class="col-lg-2">
                        <a href="/#" class="course">
                            <span class="wrap-icon brand-adobeillustrator"></span>
                            <h3>Illustrator</h3>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a href="/#" class="course">
                            <span class="wrap-icon brand-adobephotoshop"></span>
                            <h3>Photoshop</h3>
                        </a>
                    </div>

                    <div class="col-lg-2">
                        <a href="/#" class="course">
                            <span class="wrap-icon brand-angular"></span>
                            <h3>Angular</h3>
                        </a>
                    </div>

                    <div class="col-lg-2">
                        <a href="/#" class="course">
                            <span class="wrap-icon brand-javascript"></span>
                            <h3>JavaScript</h3>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a href="/#" class="course">
                            <span class="wrap-icon brand-react"></span>
                            <h3>React</h3>
                        </a>
                    </div>
                    <div class="col-lg-2">
                        <a href="/#" class="course">
                            <span class="wrap-icon brand-vue-dot-js"></span>
                            <h3>Vue</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center mb-5">
                        <div class="heading">
                            <h2> Photo</h2>
                            <img class="" src="<%= course.imgUrl %>" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center mb-5">
                        <div class="heading">
                            <span class="caption">More About Your Course</span>
                            <h2> Course Description</h2>
                            <%= course.description %> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center mb-5">
                        <div class="heading">
                            <h2> Course Info</h2>
                            <h4> Duration </h4>
                            <span class="caption"><%= course.duration %></span>

                            <h4> Date of Course</h4>
                            <span class="caption"><%= course.date %></span>

                            <h4> Course Level</h4>
                            <span class="caption"><%= course.level %></span>

                            <h4> Course Price</h4>
                            <span class="caption"><%= course.price %></span>

                            <h4> Course Teacher</h4>
                            <span class="caption"><%= course.teacherName %></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center mb-5">
                        <div class="heading">
                            <h2> Get Start With PDF</h2>
                            <ul>
                                <li>
                                    <a href="<%= course.pdfUrl %>"><span class="caption"><%= course.title %></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <%- include('partials/htmlFooter')%>

    </div>

    <%- include('partials/htmlJs')%>

</body>

</html>